:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

textarea {
  resize: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.task-list {
  max-height: 50vh;
  overflow-y: auto;
}

.btn-primary {
  background-color: #d14444 !important;
  color: #fff;
  border: 1px solid #d14444;
}

.login-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.login-illustrator {
  height: 100%;
  width: 60%;
  text-align: center;
}

.login-illustrator h2 {
  color: #090914;
  text-align: left;
}
.login-illustrator img {
  /* min-width: 1.2rem; */
  max-width: 70%;
}

.login-action {
  height: 100%;
  width: 40%;
  padding: 2rem;
  text-align: center;
  background-color: #f5f5f5;
}

.login-action > button {
  width: 30%;
}

.dropdown-toggle::after {
  display: none !important;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #d14444 !important;
}

.sidebar div {
  min-height: 72px;
}

.sidebar div a {
  text-decoration: none;
  color: #000;
  font-size: 24px;
}

.sidebar div a:hover {
  color: #fff;
  background-color: #d14444;
}

#sidebar-wrapper {
  height: 100vh;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#page-content-wrapper {
  min-width: 0;
  background-color: #f5f5f5;
  border-top-left-radius: 30px;
  padding: 5px 25px;
}

#sidebar-wrapper a {
  padding: 0 20px;
}

.accordion-button:not(.collapsed) {
  color: #fff !important;
  background-color: #d14444 !important;
}

.accordion-button::after {
  display: none;
}

.accordion-body a {
  margin-bottom: 4px !important;
}

.accordion-body a:hover {
  color: #fff;
  background-color: #d14444;
}

.table-header th {
  left: 10%;
  font-size: 18px;
  color: #fff;
  background-color: #d14444;
}

.table-header td:nth-child(3) {
  overflow-wrap: break-word;
}

.loading-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.loading-container > * {
  height: 400px;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.dropzone {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.dz-size {
  display: none;
}

.dz-message {
  /* margin-bottom: 20px; */
}

.dz-preview .dz-image img {
  content: url("/images/microsoft-excel-icon.svg");
  width: 10%;
}

.dz-success-mark,
.dz-error-mark {
  display: none;
}

.account-tabs {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}

.account-tabs .nav-item button {
  color: #000;
}

.account-tabs .nav-item button.active {
  color: #fff;
  background-color: #d14444;
}

.tab-content {
  padding: 0 12px;
  background-color: transparent;
}

.search-input {
  background-image: url("/images/search.gif");
  background-size: 30px;
  background-position: 7px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

.accounts-list tr {
  background-color: transparent;
}

.pagination a {
  color: #000;
}

.pagination .page-item .active {
  color: #fff;
  background-color: #d14444 !important;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
